.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.sublime-project
*.sublime-workspace
/.idea
.idea/*
.idea/workspace.xml
error_log
.DS_Store
sitemap.xml
app/Http/Controllers/Front/Auth/RegisterController.php
resources/views/home.blade.php
